@keyframes terminal-blink {
    0%, 100% {
        background-color: #00f; /* 蓝色光标 */
    }
    50% {
        background-color: transparent;
    }
}

/* 最外围的div */
div.terminal{
    height: 100%;
    top: 30%;
    left: 20px;
}

.terminal-cursor {
    width: 12px;
    height: 24px;
    display: inline-block;

    animation: terminal-blink 1.2s infinite;
    vertical-align: middle;
}

/* 名称 */
.terminal-usrname{
    color: green;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}

/* 路径 */
.terminal-path{
    color: black;
    font-size: medium;
}
